#### Imports

In [42]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error as MSE
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

import numpy as np
import pandas as pd

### Exploratory Data Analysis & Data Setup

In [8]:
df = pd.read_csv(r"C:\Users\dmoha\Downloads\ccdefault.csv")
df = df.dropna()

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
0,1,20000,2,2,1,24,2,2,-1,-1,-2,-2,3913,3102,689,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,0,2,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,0,0,29239,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,0,0,46990,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,0,0,8617,5670,35835,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [9]:
df.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,15000.500000,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,-0.266200,-0.291100,51223.330900,49179.075167,4.701315e+04,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,8660.398374,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,1.133187,1.149988,73635.860576,71173.768783,6.934939e+04,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-165580.000000,-69777.000000,-1.572640e+05,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,3558.750000,2984.750000,2.666250e+03,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22381.500000,21200.000000,2.008850e+04,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67091.000000,64006.250000,6.016475e+04,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,964511.000000,983931.000000,1.664089e+06,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [10]:
X = df.iloc[:, 1:-1]
y = df.iloc[:, -1]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1)

### Part 1: Random forest estimators
Fit a random forest model, try several different values for N_estimators, report in-sample accuracies.

In [36]:
rf = RandomForestClassifier()

params_rf = {
    'n_estimators': (10, 20, 100),
#    'max_features': ('log2', 'auto', 'sqrt'),
    'min_samples_leaf': (2, 10, 30)
}

grid_rf = GridSearchCV(estimator=rf,
                       param_grid=params_rf,
                       scoring="roc_auc",
                       cv=10,
                       n_jobs=-1)

grid_rf.fit(X_train, y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'n_estimators': (10, 20, 100), 'min_samples_leaf': (2, 10, 30)},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='roc_auc', verbose=0)

In [37]:
best_model = grid_rf.best_estimator_
y_pred_test = best_model.predict(X_test)


rmse_test = MSE(y_test, y_pred_test)**.5
print('Test RMSE of best model: {:.3f}'.format(rmse_test)) 

y_pred_train = best_model.predict(X_train)
rmse_test = MSE(y_train, y_pred_train)**.5
print('Train RMSE of best model: {:.3f}'.format(rmse_test))

Test RMSE of best model: 0.425
Train RMSE of best model: 0.414

In [84]:
print(grid_rf.best_score_)
print(grid_rf.best_params_)

0.7844265466206186
{'min_samples_leaf': 30, 'n_estimators': 100}

In [82]:
allscores=grid_rf.cv_results_['mean_test_score']
print(allscores)

[0.74550764 0.75997421 0.77145716 0.76724212 0.77302089 0.78094252
 0.77641847 0.78010394 0.78442655]

### Part 2: Random forest feature importance
Display the individual feature importance of your best model in Part 1 above using the code presented in Chapter 4 on page 136. {importances=forest.feature_importances_ }

In [88]:
importances=best_model.feature_importances_ 
X_columns = list(X.columns.values.tolist())

featureImportances_DF = pd.DataFrame(
        {
            'Feature': X_columns,
            'Importance': importances
        })
featureImportances_DF.sort_values("Importance", ascending = False)

      Feature  Importance
5       PAY_0    0.292211
6       PAY_2    0.129108
7       PAY_3    0.075138
8       PAY_4    0.050836
17   PAY_AMT1    0.043840
0   LIMIT_BAL    0.038257
9       PAY_5    0.037577
18   PAY_AMT2    0.032597
11  BILL_AMT1    0.031155
10      PAY_6    0.030292
19   PAY_AMT3    0.028957
12  BILL_AMT2    0.027831
20   PAY_AMT4    0.024259
22   PAY_AMT6    0.021874
13  BILL_AMT3    0.021726
21   PAY_AMT5    0.021076
15  BILL_AMT5    0.020684
14  BILL_AMT4    0.020287
16  BILL_AMT6    0.019786
4         AGE    0.019036
2   EDUCATION    0.005201
1         SEX    0.004281
3    MARRIAGE    0.003990